<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2012-2013 "Monowai Developments Limited"
  ~
  ~ This file is part of AuditBucket.
  ~
  ~ AuditBucket is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ AuditBucket is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with AuditBucket.  If not, see <http://www.gnu.org/licenses/>.
  -->

<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'
                     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                     xsi:schemaLocation="http://jakarta.apache.org/log4j/ ">

    <!-- Appenders -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p: %c - %m%n"/>
        </layout>
    </appender>

    <!-- 3rdparty Loggers -->
    <logger name="org.elasticsearch">
        <level value="info"/>
    </logger>

    <logger name="org.apache.lucene">
        <level value="info"/>
    </logger>

    <logger name="org.hibernate">
        <level value="error"/>
    </logger>

    <logger name="netty">
        <level value="error"/>
    </logger>

    <logger name="org.codehaus.jackson">
        <level value="info"/>
    </logger>

    <!--<logger name="org.springframework.integration">-->
    <!--<level value="info"/>-->
    <!--</logger>-->

    <!--<logger name="org.springframework">-->
        <!--<level value="info"/>-->
    <!--</logger>-->
    <logger name="org.springframework.integration">
        <level value="info"/>
    </logger>

    <logger name="org.auditbucket">
        <level value="debug"/>
    </logger>


    <!-- Root Logger -->
    <root>
        <priority value="info"/>
        <appender-ref ref="console"/>
    </root>

</log4j:configuration>
