<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">

    <!-- Used to support deployment activities on CircleCI-->
    <!-- http://www.alexecollins.com/migrating-to-circleci/ -->
    <servers>
        <server>
            <id>ossrh</id>
            <username>${env.SONATYPE_USER}</username>
            <password>${env.SONATYPE_PASSWORD}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>release</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>sonatype-staging</id>
                    <url>https://oss.sonatype.org/service/local/staging/deploy/maven2/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
            </repositories>
            <properties>
                <!--http://central.sonatype.org/pages/apache-maven.html#gpg-signed-components-->
                <gpg.executable>gpg2</gpg.executable>
                <gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
            </properties>
        </profile>
    </profiles>
</settings>