<ng-flockheader></ng-flockheader>
<ng-flockleftbar activeSearch="false"
                 activeAnalyze="false"
                 activeExplore="false"
                 activeStatistics="false"></ng-flockleftbar>


<!-- MAIN PANEL -->
<div id="main" role="main">
    <!-- RIBBON -->
    <div id="ribbon">
        <span class="ribbon-button-alignment"> <span id="refresh" class="btn btn-ribbon" data-title="refresh"
                                                     rel="tooltip" data-placement="bottom"
                                                     data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings."
                                                     data-html="true"><i class="fa fa-refresh"></i></span> </span>
        <!-- breadcrumb -->
        <ol class="breadcrumb">
            <li>Home</li>
            <li>Welcome</li>
        </ol>
        <!-- end breadcrumb -->
    </div>
    <!-- END RIBBON -->

    <!-- MAIN CONTENT -->
    <div id="content">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 hidden-xs hidden-sm" style="text-align: center">
                <br> <br> <br>
                <img src="../images/site-logo.png" class="img-rounded"/>
                <br>

                <h4 class="paragraph-header">Collect | Connect | Compare</h4>
            </div>
        </div>
    </div>
</div>
