<?xml version="1.0" encoding="UTF-8"?>


<!--
  ~ Copyright (c) 2016. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  ~ Morbi non lorem porttitor neque feugiat blandit. Ut vitae ipsum eget quam lacinia accumsan.
  ~ Etiam sed turpis ac ipsum condimentum fringilla. Maecenas magna.
  ~ Proin dapibus sapien vel ante. Aliquam erat volutpat. Pellentesque sagittis ligula eget metus.
  ~ Vestibulum commodo. Ut rhoncus gravida arcu.
  -->

<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Appenders -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%t %-5p: %c - %m%n"/>
        </layout>
    </appender>

    <!-- 3rdparty Loggers -->
    <logger name="org.elasticsearch">
        <level value="info"/>
    </logger>

    <logger name="org.apache">
        <level value="info"/>
    </logger>

    <logger name="org.hibernate">
        <level value="error"/>
    </logger>

    <logger name="netty">
        <level value="error"/>
    </logger>

    <logger name="net.sf.ehcache">
        <level value="error"/>
    </logger>

    <logger name="org.springframework.cache">
        <level value="error"/>
    </logger>

    <logger name="org.jboss">
        <level value="info"/>
    </logger>

    <logger name="org.codehaus.jackson">
        <level value="info"/>
    </logger>

    <logger name="org.springframework">
        <level value="error"/>
    </logger>
    <logger name="org.springframework.retry.support.RetryTemplate">
        <level value="error"/>
    </logger>
    <logger name="org.springframework.integration.channel.NullChannel">
        <level value="error"/>
    </logger>
    <!--<logger name="org.springframework.amqp">-->
        <!--<level value="${org.fd.logLevel}"/>-->
    <!--</logger>-->
    <!--<logger name="org.springframework.amqp.rabbit.listener.BlockingQueueConsumer">-->
        <!--<level value="error"/>-->
    <!--</logger>-->
    <!--<logger name="org.springframework.integration">-->
        <!--<level value="${org.fd.logLevel}"/>-->
    <!--</logger>-->
    <logger name="org.springframework.integration.endpoint.PollingConsumer">
        <level value="info"/>
    </logger>
    <logger name="org.springframework.scheduling">
        <level value="error"/>
    </logger>
    <logger name="org.springframework.data">
        <level value="info"/>
    </logger>
    <logger name="org.springframework.integration">
        <level value="error"/>
    </logger>

    <!--Very chatty and thus far not very informative-->
    <logger name="org.springframework.amqp.rabbit.listener.BlockingQueueConsumer">
        <level value="error"/>
    </logger>
    <logger name="org.springframework.amqp">
        <level value="error"/>
    </logger>
    <logger name="org.springframework.context">
        <level value="error"/>
    </logger>
    <logger name="org.springframework.web">
        <level value="error"/>
    </logger>
    <logger name="org.springframework.beans">
        <level value="error"/>
    </logger>
    <logger name="org.springframework.transaction">
        <level value="error"/>
    </logger>

    <logger name="org.springframework.security">
        <level value="error"/>
    </logger>

    <logger name="org.springframework.core.task">
        <level value="info"/>
    </logger>

    <logger name="com.sun.jersey.server">
        <level value="error"/>
    </logger>

    <logger name="com.jersey">
        <level value="error"/>
    </logger>

    <logger name="org.eclipse">
        <level value="error"/>
    </logger>

    <logger name="o.e.jetty">
        <level value="error"/>
    </logger>

    <logger name="org.neo4j.cypher">
        <level value="info"/>
    </logger>

    <logger name="org.flockdata.geography">
        <level value="${org.fd.logLevel}"/>
    </logger>

    <logger name="org.flockdata">
        <level value="${org.fd.logLevel}"/>
    </logger>

    <!-- Logging tags can be noisy - 1line per association-->
    <logger name="org.flockdata.engine.tag">
        <level value="info"/>
    </logger>
    <logger name="org.flockdata.engine.schema">
        <level value="${org.fd.logLevel}"/>
    </logger>
    <logger name="org.flockdata.company">
        <level value="info"/>
    </logger>
    <logger name="org.flockdata.engine.query">
        <level value="${org.fd.logLevel}"/>
    </logger>
    <logger name="org.flockdata.engine.track">
        <level value="${org.fd.logLevel}"/>
    </logger>

    <logger name="org.springframework.data.neo4j">
        <level value="info"/>
    </logger>
    <logger name="org.springframework.data.neo4j.support.query">
        <level value="${org.fd.logLevel}"/>
    </logger>

    <logger name="org.flockdata.engine.track.MediationFacadeNeo">
        <level value="${org.fd.logLevel}"/>
    </logger>

    <!-- Root Logger -->
    <root>
        <priority value="${org.fd.logLevel}"/>
        <appender-ref ref="console"/>
    </root>

</log4j:configuration>
