<div style="width: 800px">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3>Events</h3>
        </div>
        <div class="modal-body">
            <tabset>
                <tab heading="Delta">
                    <input type="checkbox" ng-model="showUnchangedFlag" ng-click="showUnchanged()"> Show unchanged
                    values
                    <div id="visual"></div>
                </tab>
                <tab heading="What Difference Analysis">

                    <div ng-jsondiff ab-left="log1" ab-right="log2">
                        <div id="annotated"></div>
                    </div>
                </tab>
                <tab heading="What 1">
                    <div id="log1" ng-jsonabview ab-data="log1"></div>
                </tab>
                <tab heading="What 2">
                    <div id="log2" ng-jsonabview ab-data="log2"></div>
                </tab>
            </tabset>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
        </div>
    </script>
</div>