#Thu Jan 07 10:14:53 NZDT 2016
rabbit.persistent=true
rabbit.pass=guest
defaultUser=mike
rabbit.host=localhost
fd-track.messaging.queue=fd.track.queue
fd-track.messaging.binding=fd.track.binding
fd-track.messaging.exchange=fd.track.exchange
fd-client.batchsize=100
fd-client.company=FlockData
rabbit.user=guest
fd-engine.api=http\://localhost\:8080

fd-client.apiKey=abc123