#Random port as, by default, this just starts and shuts down
server:
  port: 0

spring:
  profiles:
    active: fd-client
    # include: fd-batch  #Enable this if you want spring batch support in your project
  rabbitmq:
    password: guest
    username: guest
    host: localhost
    port: 5672
    virtual-host: /

org.fd:
  client:
    # The API key is used to identify a user associated with the company.
    # You can get your APIKey via Curl with the following command
    # curl -u mike http://localhost:8080/api/v1/profiles/me

    # Either set in in your config file or pass it as a command line parameter
    # --org.fd.client.apikey=SDKMcCU_TRCh7fL09PoFUg
    # apikey: SDKMcCU_TRCh7fL09PoFUg
    batchsize: 1
    login:
      user: demo
    default:
      company: FlockData

  engine:
    api: http://localhost:14001


