[{rabbitmq_shovel,
  [{shovels,
    [{killer_push,
      [{sources,      [{broker,"amqp://127.0.0.1"}]},
       {destinations, [{broker, "amqp://127.0.0.1"}]},
       {queue, <<"source-queue">>},
       {ack_mode, on_confirm},
       {publish_properties, [{delivery_mode, 2}]},
       {publish_fields, [{exchange, <<"routing-exchange">>}]},
       {reconnect_delay, 5}
      ]}
     ]
   }]
}].
