

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>FlockData - KV Storage Service</display-name>

    <!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring/fdkv-root-context.xml</param-value>
    </context-param>

    <!-- Creates the Spring Container shared by all Servlets and Filters -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>fdkv-apiDispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>fdkv-apiDispatcher</servlet-name>
        <url-pattern>/v1/*</url-pattern>
    </servlet-mapping>

    <!-- Spring Security -->
    <!--<filter>-->
        <!--<filter-name>springSecurityFilterChain</filter-name>-->
        <!--<filter-class>-->
            <!--org.springframework.web.filter.DelegatingFilterProxy-->
        <!--</filter-class>-->
    <!--</filter>-->

    <!--<filter>-->
        <!--<filter-name>corsFilter</filter-name>-->
        <!--<filter-class>-->
            <!--org.flockdata.helper.CorsSpringFilter-->
        <!--</filter-class>-->
    <!--</filter>-->


    <!--<filter-mapping>-->
        <!--<filter-name>corsFilter</filter-name>-->
        <!--<url-pattern>/v1/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--<filter-mapping>-->
        <!--<filter-name>springSecurityFilterChain</filter-name>-->
        <!--<url-pattern>/v1/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!-- Disables Servlet Container welcome file handling. Needed for compatibility with Servlet 3.0 and Tomcat 7.0 -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>